.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  max-width: 880px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  padding-top: 72px;
  padding-bottom: 60px;
}
.footer__copyright {
  margin: 0;
}
@media screen and (max-width: 880px) {
  .footer {
    max-width: 581px;
  }
}
@media screen and (max-width: 621px) {
  .footer__copyright {
    padding-left: 18px;
  }
}
@media screen and (max-width: 586px) {
  .footer {
    max-width: 282px;
  }
  .footer__copyright {
    padding: 0;
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .footer-copyright {
    font-size: 17px;
    line-height: 16.94px;
  }
}