.footer {
  margin-top: 67px;
  margin-bottom: 60px;
}
.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
@media screen and (max-width: 621px) {
  .footer__copyright {
    padding-left: 19px;
  }
}
@media screen and (max-width: 580px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    margin: auto 0 auto 150px;
  }
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    padding-top: 48px;
    padding-left: 19px;
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
