.footer {
  margin-top: 67px;
  margin-bottom: 60px;
}
.footer__copyright {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
@media screen and (max-width: 880px) {
  .footer {
    max-width: 581px;
  }
}
@media screen and (max-width: 586px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
  }
}
