.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  margin: 0 auto;
  max-width: 880px;
}

.profile__image {
  object-fit: cover;
  object-position: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 391px) auto;
  margin-left: 19px;
  margin-right: 19px;
  flex-wrap: wrap;
  white-space: nowrap;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  padding-right: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit-b.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  align-self: center;
  border: 1px solid #ffffff;
  margin: 0 0 0 18px;
  cursor: pointer;
  /* display: inline-block; */
  /* background-size: 10px 10px; */
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__description {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 7px;
}

.profile__add-button {
  display: flex;
  background: transparent url(../images/add-b.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  justify-content: flex-end;
}

.profile__add-button:hover {
  transition: 0.1s;
  opacity: 60%;
}

@media screen and (max-width: 880px) {
  .profile__image {
    margin-left: 19px;
  }

  .profile__add-button {
    margin-right: 19px;
  }
  .profile__edit-button {
    margin: 0;
    align-self: flex-start;
    margin-top: 4px;
  }
  .profile__info {
    margin-left: 19px;
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 759px) {
  .profile__title {
    font-size: 22px;
    line-height: 27px;
  }
  .profile {
    grid-template-columns: minmax(auto, 250px) auto;
  }
}

@media screen and (max-width: 669px) {
  .profile {
    max-width: 564px;
    grid-template-columns: minmax(auto, 391px) auto;
  }
  .profile__info {
    padding-left: 0;
  }

  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
  }
}

@media screen and (max-width: 581px) {
  .profile {
    margin: 0 auto;
    max-width: 282px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profile__add-button {
    width: 282px;
    margin: 0;
  }

  .profile__info {
    display: flex;
    justify-content: center;
    justify-content: center;
    padding-top: 26.25px;
    padding-bottom: 36px;
    max-width: 282px;
    white-space: nowrap;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .profile__image {
    margin: auto;
  }
  .profile__title {
    padding-right: 10px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    max-height: 40px;
    max-width: 196px;
  }
  .profile__description {
    margin-top: 14px;
  }
}

/* @media screen and (max-width: 320px) {
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  
  .profile__title {
    flex-basis: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
  }

  .profile__edit-button {
    align-self: flex-start;
    margin-left: auto;
  }
  .profile__image {
    margin: 0 auto;
  }
} */
